Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Let Code Games - Series 1 - Action Adventure-csharp.sln
Let Code Games - Series 1 - Action Adventure-csharp.v12.suo
Let Code Games - Series 1 - Action Adventure.sln
Library/
obj/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Temp/
Builds/
LetsCodeGames Zelda-csharp.sln
LetsCodeGames Zelda.sln
LetsCodeGames Zelda.userprefs
Series-01-Action-Adventure.sln
Series-01-Action-Adventure.csproj
Series-01-Action-Adventure.Editor.csproj
Series-01-Action-Adventure-csharp.sln
.vs/
